.modal {
  &__container {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.8);
  }
  &__content {
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    overflow-y: auto;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      border-bottom: 1px solid $border--color;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
  &__button {
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
  }
}
